@font-face {
    font-family: my fonts;
    src: url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900&display=swap);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
  position: relative;

}
body{
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    
}
.main{
    height: 100%;
    width: 100%;
}
.section1{
    height: 100%;
    width: 100%;
}
.main .section1 .row {
    background-color: #000000;
    text-align: center;
    padding: 0.2vw 0;
}
.main .section1 .row a{
    color: rgb(192, 192, 192);
    text-decoration: none;
    padding: 0 0.5vw;
    font-size: 0.5vw;
}
/* section2 */
.section2{
    height: 100%;
    width: 100%;
}
.section2 .image{
    height: 2.2vw;
    margin: 1vw 45vw;
}
.section2 .image img{
    height: 100%;
    object-fit: cover;
}
.section2 h1{
    font-size: 0.6vw;
    text-align: center;
    color: rgb(129, 125, 125);
    font-weight: lighter;
    margin-bottom: 0.7vw;
}
.section2 .bottom{
   border-top: 3px solid black;
   margin: 0 15vw;
   border-bottom: 1px solid rgba(128, 128, 128, 0.315);
  
}
.section2 .bottom{
    display: flex;
    align-items: center; 
    gap: 1vw;
}
.section2 .bottom a{
    font-size: 0.6vw;
    text-decoration: none;
    margin: 0.2vw 0;
}
.section2 .bottom a:hover{
    background-color: rgba(128, 128, 128, 0.514);
}

.section2 .search{
    display: flex;
    align-items: center;
    margin: 0.2vw 0;
}
.section2 .search svg{
    height: 1vw;
    color: rgba(128, 128, 128, 0.582);
}
.section2 .search input{
    border: none;
    padding: 0.5vw 0.5vw;
}
.section3{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 7vw 17vw;
}
.section3 .pos{
    
    margin-left: 1vw;
}
.section3 .clm1 .first h1{
    font-size: 1vw;
    width: 20vw;
}
.section3 .clm1 .first img{
    height: 12vw;
    object-fit: cover;
}
.section3 .clm1 .first p{
    font-size: 0.7vw;
    width: 20vw;
    margin: 0.5vw 0;
}
.section3 .clm1 .first span{
    font-size: 0.5vw;
    color: rgba(128, 128, 128, 0.678);
}
.section3 .clm1 .seconed h1{
    font-size: 0.7vw;
    color: rgb(128, 128, 128);
    font-weight: lighter;
    margin: 0.4vw 0;
    text-transform: uppercase;
}
.section3 .clm1 .seconed p{
    font-size: 0.6vw;
    padding-left: 0.8vw;
    margin: 0.4vw 0;
    width: 16vw;
    color: rgb(43, 42, 42);
    
}
.section3 .clm1 .seconed h2{
    font-size: 0.6vw;
    padding-left: 0.8vw;
    margin: 0.4vw 0;
    width: 15vw;
    color: rgb(0, 0, 0);
    font-weight:lighter ;
}
/* third */
.section3 .clm1 .third-part{
    display: flex;
}
.section3 .clm1 .third h1{
    font-size: 0.8vw;
    width: 21vw;
}
.section3 .clm1 .third-part{
    margin-bottom: 1vw;
}
.section3 .clm1 .thirdss{
    margin: 0 0.7vw;
}
.section3 .clm1 .third img{
    height: 5vw;
    width: 5vw;
    object-fit: cover;
}
.section3 .clm1 .thirdss p{
    font-size: 0.7vw;
    width: 13.5vw;
}
.section3 .clm1 .thirdss span{
    color: rgb(128, 128, 128);
    font-size: 0.5vw;
}
.section3 .clm1 .fourth img{
    height: 3vw;
    display: block;
}
.section3 .clm1 .fourth h1{
    font-size: 0.8vw;
    width: 22vw;
}
.section3 .clm1 .seconed{ 
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}
.section3 .clm1 .third{ 
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}
.section3 .clm1 .fourth{ 
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
}
/* seconed-clm */
.section3 .clm2 .clm2-1 .first .phela img{
    margin-top: 1vw;
    height: 8vw;
    width: 13vw;
    object-fit: cover;
}
.section3 .clm2 .clm2-1 .first span{
    font-size: 0.6vw;
    color: red;
}
.section3 .clm2 .clm2-1 .first .phela h1{
    font-size: 0.8vw;
    width: 12vw;
    text-align: center;
    font-weight: 600;
}
/*third-clm */
.section3 .pos-main{
    display: flex;
}
.section3 .clm3{
    margin-top: 1vw;
}
.section3 .clm3 .phela{
    display: flex;
    margin-left: 1vw;
    margin-bottom: 0.5vw;
    border-top: 1px solid rgba(128, 128, 128, 0.288);
    gap: 0.8vw;
}
.section3 .clm3 .phela h1{
    font-size: 0.7vw;
    width: 11vw;
    font-weight: 600;
    margin-top: 0.5vw;
}
.section3 .clm3 .phela img{
    height: 2.8vw;
    width: 2.8vw;
    object-fit: cover;
    margin-top: 0.5vw;
}
/* fourth-clm */

.section3 .clm4 {
    margin-top: 17vw;
    margin-left: 2.5vw;
}
.section3 .clm4 .phela h1{
    font-size: 0.6vw;
    width: 15vw;
    text-transform: uppercase;
    color: rgb(190, 23, 23);
    font-weight: 600;
    margin-bottom: 0.5vw;
    line-height: 1vw;
}
.section3 .clm4 .phela h3{
    font-size: 1vw;
    font-weight: 600;
}
.section3 .clm4 .phela img{
    height: 8vw;
}
/* swiper */
.swiper {
    margin: 1vw 0;
    width: 30vw;
    height: 6vw;
  }

.swiper-slide {
    
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img{
    height: 5vw;
    object-fit: cover;
  }
  .swiper-slide .text{
    margin-left: 1vw;
  }
  .swiper-slide .text h1{
    font-size: 0.7vw;
    font-weight: lighter;
    display: block;
  }
  .swiper-slide .text span{
    font-size: 0.8vw;
    font-weight: lighter;
    display: block;
    color: rgb(107, 107, 107);
    margin-top: 0.2vw;
  }
.swiper-slide img {
    display: block;
    object-fit: cover;
  }
  .pos .images img{
    height: 25vw;
    width: 45vw;
    border-bottom: 3px solid black;

  }
  /* clom1 */
  .section3 .support{
    display: flex;
  }

  .section3 .clom1 h2{
    margin: 1vw 0;
    color: rgb(196, 22, 22);
    font-size: 0.7vw;
    
  }
  .section3 .clom1 .first{
    margin-top: 1vw;
  }
  .section3 .clom1 .first img{
    height: 8vw;
  }
  .section3 .clom1 .first h1{
    font-size: 1vw;
    margin-left: 1vw;
  }
  .section3 .clom1 .first p{
    font-size: 0.7vw;
    line-height: 1vw;
    width: 14vw;
    text-align: center;
  }
  .section3 .clom1 .first h2{
    font-size: 0.7vw;
    color: rgba(128, 128, 128, 0.541);
    font-weight: lighter;
    text-align: center;
    width: 14vw;
  }
  .section3 .clom1 .seconed{
    margin-top: 1vw;
    display: flex;
    border-top: 1px solid rgba(128, 128, 128, 0.315);
    
  }
  .section3 .clom1 .seconed .image{
    height: 4vw;
    
  }
  .section3 .clom1 .seconed .image img{
    height: 100%;
    object-fit: cover;
  }
  .section3 .clom1 .seconed .text h1{
    margin: 0;
    font-size: 0.7vw;
    width: 9vw;
    line-height: 1vw;
  }
  .section3 .clom1 .seconed .text span{
    color: rgba(128, 128, 128, 0.541);
    font-size: 0.6vw;
    width: 9vw;
    line-height: 1vw;
  }
  /* clom2 */
  .section3 .clom2 h2{
    margin: 1vw 0;
    color: rgb(196, 22, 22);
    font-size: 0.7vw;
  }

